.history {
  &_list {
    display: flex;
    justify-content: center;
    position: relative;

    &_dot {
      position: relative;
      z-index: 2;
      min-width: 20px;
      min-height: 20px;
      max-width: 20px;
      max-height: 20px;
      background-color: #5682ff;
      border-radius: 100%;
    }
    &_line {
      position: absolute;
      width: 1px;
      z-index: 1 !important;
      height: 100%;
      background-color: #cccccc;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &_nama_barang {
    font-size: 1.2rem;
    color: #313751;
  }
  &_datetime_barang {
    text-align: right;
  }

  &_qty_dec {
    ::v-deep {
      input {
        color: #de3d33 !important;
      }
    }
  }
  &_qty_inc {
    ::v-deep {
      input {
        color: #3cb774 !important;
      }
    }
  }
}
