@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Rubik", sans-serif !important;
  box-sizing: border-box !important;
  scrollbar-color: #d8dcf2 #eaecf7;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #d8dcf2;
}

html,
body {
  color: #313751 !important;
  font-family: "Rubik", sans-serif !important;
  background-color: #f7f8fd;
}

#app {
  background-color: #f7f8fd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// container
.it-inventory-container {
  margin: 16px 0;
  padding: 12px 30px !important;
}
// End container

// Box
.it-inventory-box {
  border-radius: 10px;
  border: 1px solid #d8dcf2;
  padding: 1.2rem;
}
// End Box

// Table
.it-inventory-simple-table {
  & th,
  & td {
    font-size: 0.9rem !important;
  }
}

.table_menu_actions {
  & .v-btn__content {
    font-size: 0.8rem;
    text-transform: capitalize;
    font-weight: 400;
  }
  &:active {
    background-color: none;
  }
}
// End Table

// Btn
.it_inven_create_btn {
  background-color: #312e68 !important;
  border-radius: 10px !important;
  width: max-content;
  & .v-btn__content {
    color: #ffffff;
    font-weight: normal;
    text-transform: capitalize;
  }
}

.btn_save {
  background-color: transparent;
  width: max-content;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  user-select: none;
  span {
    font-size: 1rem;
    color: #9ba1bc;
  }
}
// End Btn

// Accordion

.it-accordion-panel {
  background-color: #f7f8fd !important;
  margin-bottom: 15px;
  border-radius: 10px !important;
  &::before {
    box-shadow: none !important;
    border: 1px solid #d8dcf2 !important;
    border-radius: inherit;
  }
  &::after {
    border-top: none !important;
  }
  .v-expansion-panel-header {
    font-size: 1rem;
  }
  .v-expansion-panel-content {
    background-color: #ffffff;
  }
  .v-expansion-panel-content__wrap {
    font-size: 1rem;
    padding: 24px 16px !important;
  }
}

.it-accordion-panel.it-accordion-panel__error {
  background-color: rgba(242, 124, 97, 0.2) !important;
  &::before {
    border: 1px solid #f27b61 !important;
  }
}

// .it-accordion-panel.it-accordion-panel__success {
//   background-color: rgb(12, 102, 207, 0.2) !important;
//   &::before {
//     border: 1px solid #0c66cf !important;
//   }
// }
// End Accordion

// Stepper
.it-inven-stepper {
  & .v-stepper__header {
    margin-bottom: 48px;
    & .v-stepper__step {
      flex-direction: column !important;
      gap: 10px;
      & .v-stepper__step__step {
        border: 4px solid #d8dcf2 !important;
        background-color: #ffffff !important;
        color: #d8dcf2 !important;
        width: 48px;
        height: 48px;
        min-width: 48px;
        font-size: 1rem;
        font-weight: 500;
      }
    }

    & .v-stepper__step--complete {
      & .v-stepper__step__step {
        border-color: #5682ff !important;
        color: #5682ff !important;
        i {
          color: #5682ff !important;
        }
      }
      & .v-stepper__label {
        color: #5682ff !important;
      }
    }

    & .v-stepper__step--active {
      & .v-stepper__step__step {
        border-color: #5682ff !important;
        color: #5682ff !important;
      }
      & .v-stepper__label {
        color: #5682ff !important;
      }
    }

    & .v-divider {
      border-width: 4px 0 0 0;
    }
  }
}
// End Stepper
